<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserLoginMapper">

    <!--通用查询,传拼接好的sql-->
    <select id="getStrList" parameterType="java.lang.String" resultType="java.lang.String">
		${sql}
	</select>
    <select id="getMap" parameterType="java.lang.String" resultType="java.util.Map">
		${sql}
	</select>

    <!--自定义高级映射-->
    <resultMap id="myMap" type="com.example.pojo.UserLogin">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="queryAll" resultType="com.example.pojo.UserLogin">
        select * from userLogin
    </select>

    <insert id="add" parameterType="com.example.pojo.UserLogin">
        insert into userLogin values (#{username},#{password})
    </insert>

    <select id="queryByName" resultType="com.example.pojo.UserLogin">
        select * from userLogin where username = #{username}
    </select>

    <!--删除-->
    <delete id="delete" parameterType="java.lang.String">
        delete from userLogin where username = #{username}
    </delete>

    <!--批量插入-->
    <insert id="saveBatch" parameterType="List">
        INSERT INTO
        userLogin (username,password,bgr,bgsj)
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.username},#{item.password},#{item.bgr},#{item.bgsj}
        )
        </foreach>
    </insert>
</mapper>